
WeatherStations/WeatherStations/.vs/WeatherStations/v16/.suo
WeatherStations/WeatherStations/.vs/WeatherStations/v16/Server/sqlite3/db.lock
WeatherStations/WeatherStations/.vs/WeatherStations/v16/Server/sqlite3/storage.ide-wal
WeatherStations/WeatherStations/obj/WeatherStations.csproj.nuget.cache
WeatherStations/WeatherStations/obj/WeatherStations.csproj.nuget.dgspec.json
WeatherStations/WeatherStations/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WeatherStations/WeatherStations/obj/x86/Debug/WeatherStations.csprojAssemblyReference.cache
WeatherStations/WeatherStationsDB/obj/WeatherStationsDB.csproj.nuget.cache
WeatherStations/WeatherStationsDB/obj/WeatherStationsDB.csproj.nuget.dgspec.json
WeatherStations/WeatherStationsDB/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WeatherStations/WeatherStationsDB/obj/x86/Debug/WeatherStationsDB.csprojAssemblyReference.cache
WeatherStations/WeatherStations/.vs/WeatherStations/v16/Server/sqlite3/storage.ide
WeatherStations/WeatherStations/.vs/WeatherStations/v16/.suo
WeatherStations/WeatherStations/.vs/WeatherStations/v16/Server/sqlite3/storage.ide-wal
WeatherStations/WeatherStations/.vs/WeatherStations/v16/Server/sqlite3/storage.ide
WeatherStations/WeatherStations/.vs/WeatherStations/v16/Server/sqlite3/storage.ide-wal
